$primary: #6c5ce7;
$primary-opaque: #6c5ce71a;

$white: #fff;
$white-100: #fefffe;

$gray-300: #d2d4df;
$gray-400: #f1f0f4;
$gray-500: #a5a9b5;

$black-500: #1f2c48;

:export {
  primary: $primary;
  primary-opaque: $primary-opaque;
  white: $white;
  white-100: $white-100;
  gray-300: $gray-300;
  gray-400: $gray-400;
  gray-500: $gray-500;
  black-500: $black-500;
}
