@use "styles/variables" as variables;

.calendarWrapper {
  display: grid;
  min-width: 368px;
  border-radius: 8px;
  background-color: variables.$white-100;
  border: 1px solid variables.$gray-400;
  box-shadow: 0 10px 30px variables.$gray-400;
  overflow: hidden;
}

.title {
  letter-spacing: -1px;
  flex: 1;

  .year {
    opacity: 0.8;
    font-weight: 400;
    margin-right: 8px;
  }
}

.datesWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background-color: variables.$white-100;
  border-bottom: 1px solid variables.$gray-400;
  border-top: 1px solid variables.$gray-400;

  .passiveDay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.25;

    &:first-of-type {
      left: -16px;
      background: linear-gradient(
        to right,
        variables.$gray-300,
        variables.$white
      );
    }

    &:last-of-type {
      right: -16px;
      background: linear-gradient(
        to left,
        variables.$gray-300,
        variables.$white
      );
    }
  }
}
